<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ImprimeDados</servlet-name>
        <servlet-class>View.ImprimeDados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAuth</servlet-name>
        <servlet-class>br.com.Login.LoginAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVeiculos</servlet-name>
        <servlet-class>br.com.Veiculos.ListarVeiculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUsuario</servlet-name>
        <servlet-class>br.com.Login.AddUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVeiculos</servlet-name>
        <servlet-class>br.com.Veiculos.AddVeiculos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImprimeDados</servlet-name>
        <url-pattern>/ImprimeDados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAuth</servlet-name>
        <url-pattern>/LoginAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVeiculos</servlet-name>
        <url-pattern>/ListarVeiculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUsuario</servlet-name>
        <url-pattern>/AddUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVeiculos</servlet-name>
        <url-pattern>/AddVeiculos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
